[submodule "java-mammoth"]
	path = java-mammoth
	url = https://github.com/r-Larch/java-mammoth.git
[submodule "java-couscous"]
	path = java-couscous
	url = https://github.com/r-Larch/java-couscous.git